.qiniu-upload {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  border: 2px dashed #ccc;
  border-radius: 5px;
  color: #aaa;
  cursor: pointer;
  margin-bottom: 20px;
  &:hover {
    color: darken(#aaa, 10%);
    border: 2px dashed darken(#aaa, 10%);
  }
  &:active {
    color: darken(#aaa, 20%);
    border: 2px dashed darken(#aaa, 20%);
  }
  &.active {
    border: 2px dashed #666;
    color: #666;
  }
}
