@import "../../assets/styles/variables";

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $height-header;
  background: $color-main;
  .back-btn {
    float: left;
    position: relative;
    height: $height-header;
    width: $height-header;
    line-height: $height-header;
    border: 0;
    background: none;
    outline: none;
    &:before, &:after {
      content: ' ';
      display: block;
      position: absolute;
      width: 40%;
      height: 2px;
      left: 25%;
      background: #fff;
    }
    &:before {
      top: 36%;
      transform: rotate(-40deg);
    }
    &:after {
      bottom: 37%;
      transform: rotate(40deg);
    }
    &:active {
      background: darken($color-main, 10%);
    }
  }
  a {
    float: right;
    font-size: 1.2rem;
    line-height: $height-header;
    color: #fff;
    cursor: pointer;
    padding: 0 1rem;
    &:active, &.active {
      color: darken(#fff, 10%);
    }
  }
}
