@import "../../assets/styles/variables.scss";

.view-login {
  width: 100%;
  height: 100%;
  position: relative;
  .form-login {
    position: absolute;
    max-width: 100%;
    width: 400px;
    padding: 0 1rem;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    .input-group {
      width: 100%;
      height: 6.2rem;
      .ipt {
        width: 100%;
        height: 3.5rem;
        outline: none;
        padding: 0 1em;
        font-size: 1.3rem;
        border: 1px solid #ccc;
        &:focus {
          border: 1px solid #666;
        }
      }
      .submit {
        width: 60%;
        height: 3.5rem;
        font-size: 1.3rem;
        background: $color-vice;
        outline: none;
        border: 0;
        color: #fff;
        &:active {
          background: darken($color-vice, 10%);
        }
        &:hover {
          background: darken($color-vice, 2%);
        }
        &[disabled] {
          background: #ccc;
        }
      }
      .err {
        width: 100%;
        font-size: 1rem;
        color: $color-err;
        line-height: 2.2em;
        padding-left: .8rem;
      }
      .link-to {
        float: right;
        height: 3.5rem;
        padding-right: .5rem;
        line-height: 3.5rem;
        font-size: 1.1rem;
        color: #333;
      }
    }
  }
}
